{% extends "base.html" %}

{% block title %}
    Shoua Thao
{% endblock %}

{% block main %}
    <div class="row mx-xs-0 mx-md-1 mx-lg-3 mx-xl-5 h-75 justify-content-center">
        <div class="col-md-6 p-3 d-flex flex-column justify-content-between mh-100">
            
            <div class="ms-3">
                <div class="row">
                    <h1 class="name-color mb-0">Shoua Thao</h1>
                </div>
                <div class="row ms-1 subname-color">
                    Python developer
                </div>
                <div class="row ms-1 subname-color">
                    with a focus in AI
                </div>
                <div>
                    <span>
                        {% for link in links %}
                        <a href="{{link.url}}" title="{{link.title}}" target="__blank" rel="noopener noreferrer" class="custom-a"><i class="bx bx-md {{link.icon}}"></i></a>
                        {% endfor %}
                    </span>
                </div>
            </div>

            <div class="accordion accordion-flush rounded" id="menu">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button large-button-font button-focus-border" type="button" data-bs-toggle="collapse" data-bs-target="#aboutMe" id="about-me-button">
                            About me
                        </button>
                    </h2>
                    <div id="aboutMe" class="accordion-collapse collapse show" data-bs-parent="#menu">
                        <div class="accordion-body">
                            {{about_me_text}}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed large-button-font button-focus-border" type="button" data-bs-toggle="collapse" data-bs-target="#projects" id="projects-button">
                            Projects
                        </button>
                    </h2>
                    <div id="projects" class="accordion-collapse collapse" data-bs-parent="#menu">
                        <div class="accordion-body">
                            <ul class="list-unstyled">
                                {% for project in projects %}
                                <li>
                                    {% if project.url%}
                                        <a href="{{ project.url}}" target="__blank" rel="noopener noreferrer" class="custom-a">{{project.name}}</a>
                                    {% else %}
                                        <a href="{{ project.source_code}}" target="__blank" rel="noopener noreferrer" class="custom-a">{{project.name}}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed large-button-font button-focus-border" type="button" data-bs-toggle="collapse" data-bs-target="#contact" id="contact-button">
                            Contact
                        </button>
                    </h2>
                    <div id="contact" class="accordion-collapse collapse w-100 overflow-auto" data-bs-parent="#menu">
                        <div class="accordion-body text-wrap">
                            Email me @ <a href="mailto:{{email}}" class="custom-a">{{email}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 p-3 align-content-center justify-content-center mh-100 overflow-auto" id="right-div">
            
            <div class="illustration text-center p-md-3 p-lg-1" id="skills">
                {% for skill in skills %}
                    <div class="container d-inline-block p-3 m-1 text-skill-names bg-light-grey flex-shrink-1 rounded text-center" style="width: fit-content;">
                        <div class="row">
                            <i class="bx bx-lg {{skill.icon}} text-skills"></i>
                        </div>
                        {{skill.name}}
                    </div>
                {% endfor %}
            </div>

            <div id="project-descriptions" class="illustration bg-light-grey rounded text-start p-4" hidden>
                {% for project in projects %}
                    <div class="border-bottom-dark p-3 text-dark">
                        <div class="row"><h3 class="ps-0 mb-0 text-skill-names">{{project.name}}</h3></div>
                        <div class="row"><a href="{{project.source_code}}"  target="__blank" rel="noopener noreferrer" class="custom-a icon-link"><i class="bx bx-code-block"></i>Github Repo</a></div>
                        {% if project.url %}
                            <a href="{{project.url}}"  target="__blank" rel="noopener noreferrer" class="custom-a icon-link"><i class="bx bx-link-external"></i>Explore it!</a>
                        {% endif %}
                        <div class="row pt-3 content-text">{{project.description}}</div>
                    </div>
                {% endfor %}
            </div>
            
            <div id="contact-content" class="illustration" hidden>
                
            </div>
        </div>
    </div>

    <script>
        var selectedMenu = document.querySelectorAll(".accordion-button");
        var illustrations = document.querySelectorAll(".illustration");
        selectedMenu.forEach(function(menuItem) {
            menuItem.addEventListener("click", function(event) {
                illustrations.forEach(function(illustration) {
                    illustration.hidden = true;
                });

                var id = this.getAttribute("id");

                if (id == "about-me-button") {
                    var photo = document.getElementById("skills");
                    photo.hidden = false;
                }
                else if (id == "projects-button") {
                    var projDesc = document.getElementById("project-descriptions");
                    projDesc.hidden = false;
                }
                else if (id == "contact-button") {
                    var contactContent = document.getElementById("contact-content");
                    contactContent.hidden = false;
                };
            });
        })
    </script>
{% endblock %}
